<template>
  <v-data-table
    :headers="headers"
    :items="specters"
    sort-by="username"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Hyperspecters</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-dialog v-model="newItemDialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              New Item
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">New item</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.type"
                      :rules="[rules.required]"
                      label="Type"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.description"
                      :rules="[rules.required]"
                      label="Description"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model.number="editedItem.height"
                      :rules="[rules.required]"
                      label="Height"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model.number="editedItem.width"
                      :rules="[rules.required]"
                      label="Width"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model.number="editedItem.layersCount"
                      :rules="[rules.required]"
                      label="Layers Count"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model.number="editedItem.r"
                      :rules="[rules.required]"
                      label="R"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model.number="editedItem.g"
                      :rules="[rules.required]"
                      label="G"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model.number="editedItem.b"
                      :rules="[rules.required]"
                      label="B"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-checkbox
                      v-model="editedItem.visible"
                      label="Visible"
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.username"
                      label="Author"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
                :disabled="checkRules"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="editItemDialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.description"
                      :rules="[rules.required]"
                      label="Description"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-checkbox
                      v-model="editedItem.visible"
                      :rules="[rules.required]"
                      label="Visible"
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.username"
                      label="Author"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="update"
                :disabled="checkRules"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="fetchSpecters"> Reset </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { SPECTERS_REST_ENDPOINT } from '~/api/endpoints'

class Hyperspecter {
  constructor() {
    this.id = null
    this.name = ''
    this.type = ''
    this.description = ''
    this.height = ''
    this.width = ''
    this.layersCount = ''
    this.r = ''
    this.g = ''
    this.b = ''
    this.username = ''
    this.visible = false
  }

  clone() {
    return Object.assign(Object.create(Object.getPrototypeOf(this)), this)
  }
}

export default {
  name: 'HyperspecterTable',
  data() {
    return {
      rules: {
        required: (value) => value && value !== '',
      },
      editItemDialog: false,
      newItemDialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Id', align: 'start', value: 'id' },
        { text: 'Name', value: 'name' },
        { text: 'Type', value: 'type' },
        { text: 'Description', value: 'description' },
        { text: 'Height', value: 'height' },
        { text: 'Width', value: 'width' },
        { text: 'Layers Count', value: 'layersCount' },
        { text: 'R', value: 'r' },
        { text: 'G', value: 'g' },
        { text: 'B', value: 'b' },
        { text: 'Author', value: 'username' },
        { text: 'Visible', value: 'visible' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      specters: [],
      editedIndex: -1,
      editedItem: new Hyperspecter(),
      defaultItem: new Hyperspecter(),
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New item' : 'Edit item'
    },
    checkRules() {
      return false
    },
  },
  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },
  mounted() {
    this.fetchSpecters()
    console.log(this.defaultItem);
    this.resetEditedValue()
  },
  methods: {
    fetchSpecters() {
      this.$axios.get(SPECTERS_REST_ENDPOINT).then((response) => {
        this.specters = response.data
      })
    },
    editItem(item) {
      this.editedIndex = this.specters.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.editItemDialog = true
    },
    deleteItem(item) {
      this.setEditedValue(item)
      this.dialogDelete = true
    },
    deleteItemConfirm() {
      this.$axios
        .delete(SPECTERS_REST_ENDPOINT + '/' + this.editedItem.id)
        .then((response) => {
          this.fetchSpecters()
        })
      this.closeDelete()
    },
    update() {
      this.$axios
        .put(SPECTERS_REST_ENDPOINT + '/' + this.editedItem.id, JSON.stringify(this.editedItem), {
            params: { username: this.editedItem.username },
            headers: { 'content-type': 'application/json' },
        })
        .then((response) => {
          this.fetchSpecters()
        })

      this.resetEditedValue()
      this.editItemDialog = false
    },
    save() {
      if (this.editedIndex === -1)
        this.$axios
          .post(SPECTERS_REST_ENDPOINT, JSON.stringify(this.editedItem), {
            params: { username: this.editedItem.username },
            headers: { 'content-type': 'application/json' },
          })
          .then((response) => {
            this.fetchSpecters()
          })

      this.resetEditedValue()
      this.newItemDialog = false
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.resetEditedValue()
      })
    },
    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.resetEditedValue()
      })
    },
    resetEditedValue() {
      this.editedItem = this.defaultItem.clone()
      this.editedIndex = -1
    },
    setEditedValue(item) {
      this.editedIndex = this.specters.indexOf(item)
      this.editedItem = Object.assign({}, item)
    },
  },
}
</script>