<template>
  <v-data-table
    :headers="headers"
    :items="users"
    sort-by="username"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Users</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              New Item
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.username"
                      label="Username"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.password"
                      :rules="[rules.required]"
                      label="Password"
                      type="password"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-select
                      v-model="editedItem.role"
                      :items="availableRoles"
                      label="Role"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
                :disabled="checkRules"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="fetchUsers"> Reset </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { USERS_REST_ENDPOINT } from '~/api/endpoints'

export default {
  name: 'UserTable',
  data() {
    return {
      rules: {
        required: (value) => value && value !== '',
      },
      availableRoles: ['user', 'admin'],
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Id', align: 'start', value: 'id' },
        { text: 'Username', value: 'username' },
        { text: 'Role', value: 'role' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      users: [],
      editedIndex: -1,
      editedItem: {
        id: null,
        username: '',
        password: '',
        role: 'user',
      },
      defaultItem: {
        id: null,
        username: '',
        password: '',
        role: 'user',
      },
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New item' : 'Edit item'
    },
    checkRules() {
      return (
        this.editedIndex === -1 &&
        (this.editedItem.username === '' || this.editedItem.password === '')
      )
    },
  },
  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },
  mounted() {
    this.fetchUsers()
  },
  methods: {
    fetchUsers() {
      this.$axios.get(USERS_REST_ENDPOINT).then((response) => {
        this.users = response.data
      })
    },
    editItem(item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.editedItem.password = ''
      this.editedItem.username = ''
      this.dialog = true
    },
    deleteItem(item) {
      this.setEditedValue(item)
      this.dialogDelete = true
    },
    deleteItemConfirm() {
      this.$axios
        .delete(USERS_REST_ENDPOINT + this.editedItem.id)
        .then((response) => {
          this.fetchUsers()
        })
      this.closeDelete()
    },
    update() {},
    save() {
      const formData = new URLSearchParams()

      for (const key in this.editedItem) {
        formData.append(key, this.editedItem[key])
      }

      if (this.editedIndex === -1)
        this.$axios
          .post(USERS_REST_ENDPOINT, formData, {
            headers: { 'content-type': 'application/x-www-form-urlencoded' },
          })
          .then((response) => {
            this.fetchUsers()
          })
      else
        this.$axios
          .put(USERS_REST_ENDPOINT + this.editedItem.id, formData, {
            headers: { 'content-type': 'application/x-www-form-urlencoded' },
          })
          .then((response) => {
            this.fetchUsers()
          })

      this.resetEditedValue()
      this.close()
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.resetEditedValue()
      })
    },
    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.resetEditedValue()
      })
    },
    resetEditedValue() {
      this.editedItem = Object.assign({}, this.defaultItem)
      this.editedIndex = -1
    },
    setEditedValue(item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
    },
  },
}
</script>