<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="py-4 d-flex justify-center">
        <UserTable/>
      </v-card>
    </v-col>
    <v-col>
      <v-card class="mt-2 py-4 d-flex justify-center">
        <HyperspecterTable/>
      </v-card>
    </v-col>
  </v-row>
</template>
